
<div class="header-container container-fluid p-3 bg-light   border rounded">
  <div class="header-content d-flex align-items-center justify-content-between flex-wrap">
    <div class="d-flex align-items-center">
      <img 
        src="./logo1.png" 
        alt="Helper Bees Logo" 
        class="logo me-2 " 
       >
      <!-- <h2 class="mb-0">The Helper Bees</h2> -->
    </div>
    <div *ngIf="isLoggedIn" class="user-actions d-flex align-items-center mt-2 mt-md-0">
      <span class="me-3">Welcome, {{ username }}!</span>
      <button (click)="logout()" class="btn btn-danger btn-sm">Logout</button>
    </div>
  </div>
</div>
