<div class="container mt-5">
    <div class="questionnaire">
      <div class="header">
        <img src="./assets/the-helper-bees-logo.png" alt="The Helper Bees">
      </div>
  
      <!-- Progress Bar -->
      <div class="progress-bar mt-3 mb-4">
        <div class="progress" [style.width.%]="progressValue"></div>
      </div>
  
      <!-- Question Title -->
      <div class="question-title">
        <h4>My favorite movie genre is:</h4>
        <p>(Check all that apply)</p>
      </div>
  
      <!-- Question Form -->
      <form [formGroup]="questionnaireForm">
        <div *ngFor="let genre of genres">
          <label>
            <input type="checkbox" [value]="genre" (change)="onCheckboxChange($event)">
            {{ genre }}
          </label>
        </div>
      </form>
  
      <!-- Navigation Buttons -->
      <div class="navigation-buttons mt-4">
        <button class="btn btn-warning" (click)="onNext()">Next</button>
      </div>
  
      <!-- Footer -->
      <app-footer></app-footer>
    </div>
  </div>
  