

<div class="intro-container container-fluid ">
  <div class="row align-items-center min-vh-70 content">  
    
    <div class="col-md-6 ">
      <img src="./eld-cop1.png" 
           alt="Elderly Couple" 
           class="main-image hexagon-image">
    </div>
    
    <div class="col-md-6 text-section  text-md-start">
      
      <h2>Let's get started filling out your profile</h2>
        <p>The best way for us to get you the right kind of help is to know you as well as possible.</p>
      <button class="btn btn-warning col-md-4" (click)="startAssessment()">Start</button>
  
  </div>

   
    
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</div>

