<div class="intro-container container-fluid ">
    <div class="row align-items-center min-vh-70 content">  
      
      <!-- Left Section (Text) -->
      <div class="col-md-6 text-section  text-md-start">
        
        <h1>You've completed your quiz</h1>
        <p>We really appreciate that you took the time to log the answers to this quiz to the console as a JavaScript object!</p>
        <button class="btn btn-warning col-md-4" (click)="finishAssessment()">Take me to your leader</button>
    
    </div>

     
      <div class="col-md-6 ">
        <img src="./eld-cop1.png" 
             alt="Elderly Couple" 
             class="main-image hexagon-image">
      </div>
      
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
</div>

