/* Ensure full height for alignment */
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
  background: white;
}

/* Main Row */
.row {
  display: flex;
  align-items: center;
  min-height: 85vh; /* Ensures full screen height for better layout */
}

.text-section {
  position: relative; /* Ensures background behaves correctly */
  padding: 13% 5%;
  text-align: left;
  min-height: 85vh; /* Full screen height */
  background: url('../../../public/Union.png') no-repeat left top;
  background-size: cover; /* Covers the full section */
  display: flex;
  line-height: 2.5rem;
  font-family: poppins;
  flex-direction: column;
  justify-content: left; /* Centers text */
  @media (max-width: 768px) {
    width: 100%;
  }
  width: 50%;
}

/* Text Styles */
.text-section h1 {
  font-size: 2.6rem;
  color: #333;
}

.text-section p {
  font-size: 1.5rem;
  color: #666;
  max-width: 450px;
 
}

.text-section .btn-warning {
  padding: 1.5% 1.5%;
  font-size: 1.3rem;
  transition: background-color 0.3s;
  margin: 0;
}

.text-section .btn-warning:hover {
  background-color: #FFC300;
}

/* Right Section (Image) */
.hexagon-image {
  width: 650px;
  height: 650px;
  transition: transform 0.5s ease-in-out;
}

.hexagon-image:hover {
  transform: scale(1.05) rotate(-10deg);
}

@media (max-width: 992px) {
  

  .hexagon-image {
      width: 380px;
      height: 380px;
  }
}

@media (max-width: 768px) {
  .row {
      flex-direction: column-reverse; /* Image below text */
      text-align: center;
  }

  .text-section {
      background-size: cover;
      padding: 30px;
      min-height: auto;
  }

  .hexagon-image {
      width: 320px;
      height: 320px;
  }
}

@media (max-width: 480px) {
  .hexagon-image {
      width: 260px;
      height: 260px;
  }

  .text-section {
      padding: 20px;
  }
}
